# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
*.coverprofile
gen### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go example -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.vscode
.DS_Store

utils/log/logs
logs
/.maintainer.yml
/_config.yml
a.txt
/bow/runner/bow_darwin_amd64
/bow/runner/bow_linux_amd64
/shunt/runner/shunt_darwin_amd64
/shunt/runner/shunt_linux_amd64
/bow/runner/bow_freebsd_amd64
/bow/runner/bow_linux_386
/bow/runner/bow_windows_amd64
/bow/runner/bow_freebsd_386
/bow/runner/bow_darwin_386
/bow/runner/bow_windows_386
/shunt/runner/shunt_windows_386
/shunt/runner/shunt_windows_amd64
/shunt/runner/shunt_freebsd_386
/shunt/runner/shunt_freebsd_amd64
/shunt/runner/shunt_linux_386
/shunt/runner/shunt_darwin_386
/rivet/rivet
/rivet/bow.lock
/examples/file/test1/aa.zip
